<!DOCTYPE html>
{% load static %}

<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="shortcut icon" href="{% static 'img/city-buildings-svgrepo-com-fill.svg' %}" sizes="any">
    <link rel="stylesheet" href="{% static 'css/custom_style.css' %}">
    <link rel="stylesheet" href="{% static 'flag-icons/css/flag-icons.css' %}">

    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Ubuntu:wght@400;700&display=swap" rel="stylesheet">

    <title>{% block title %}{% endblock %}</title>
</head>
<body>
    <div class="header">
        <div class="header-left">
            <a href="/" class="header-logo"><img src="{% static 'img/city-buildings-svgrepo-com-fill-white.svg' %}" height="35" alt="" loading="lazy"></a>
            <a href="/" {% if request.resolver_match.url_name == 'cities' %}class="nav-active"{% endif %}>
                Cities</a>
            <a href="/countries" {% if request.resolver_match.url_name == 'countries' %}class="nav-active"{% endif %}>
                Countries</a>
        </div>
        <div class="header-right">
            {% block header-filter %}
            {% endblock %}
        </div>
    </div>

    <div class="content">
    {% block content %}Content{% endblock %}
    </div>

    <div class="footer">
        <a href="https://github.com/serious-pavel/most_populated_cities" ><img src="{% static 'img/github-142-svgrepo-com.svg' %}" alt=""></a>
        <a href="https://www.linkedin.com/in/pavel-makhnev/" ><img src="{% static 'img/linkedin-fill-svgrepo-com.svg' %}" alt=""></a>
    </div>
</body>
</html>