{% extends "most_populated_cities_main/base.html" %}

{% block title %}
Most populated cities
{% endblock %}

{% block content %}
<table>
    <thead>
        <tr>
            <th>Common Name</th>
            <th>Flag</th>
            <th>Continent</th>
            <th>Region</th>
        </tr>
    </thead>
    <tbody>
        {% for country in countries %}
        <tr>
            <td>{{ country.common_name }}</td>
            <td><span class="fi fi-xx fi-{{country.alpha2_code}}"></span></td>
            <td>{{ country.continent_name }}</td>
            <td>{{ country.region_name }}</td>
        </tr>
        {% endfor %}
    </tbody>
</table>

{% endblock %}