{% extends "most_populated_cities_main/base.html" %}

{% block title %}
Most populated cities
{% endblock %}

{% block content %}
<table>
    <thead>
        <tr>
            <th>№</th>
            <th>
                <form action="{% url 'most_populated_cities_main:countries' %}">
                    <button class="sort_btn" >Common Name
                        {% if sort_by == "common_name" %} v
                            <input type="hidden" name="sort_by" value="-common_name">
                        {% elif sort_by == "-common_name" %} ^
                            <input type="hidden" name="sort_by" value="common_name">
                        {% endif %}
                    <input type="hidden" name="index" value="{{ page_obj.start_index }}">
                    <input type="hidden" name="per_page" value="{{ per_page }}">
                    </button>
                </form>
            </th>
            <th>
                <form action="{% url 'most_populated_cities_main:countries' %}">
                    <button class="sort_btn" >Continent
                        {% if sort_by == "continent" %} v
                            <input type="hidden" name="sort_by" value="-continent">
                        {% elif sort_by == "-continent" %} ^
                            <input type="hidden" name="sort_by" value="continent">
                        {% else %}
                            <input type="hidden" name="sort_by" value="continent">
                        {% endif %}
                    <input type="hidden" name="index" value="{{ page_obj.start_index }}">
                    <input type="hidden" name="per_page" value="{{ per_page }}">
                    </button>
                </form>
            </th>
            <th>
                <form action="{% url 'most_populated_cities_main:countries' %}">
                    <button class="sort_btn" >Region
                        {% if sort_by == "region" %} v
                            <input type="hidden" name="sort_by" value="-region">
                        {% elif sort_by == "-region" %} ^
                            <input type="hidden" name="sort_by" value="region">
                        {% else %}
                            <input type="hidden" name="sort_by" value="region">
                        {% endif %}
                    <input type="hidden" name="index" value="{{ page_obj.start_index }}">
                    <input type="hidden" name="per_page" value="{{ per_page }}">
                    </button>
                </form>
            </th>
        </tr>
    </thead>
    <tbody>
        {% for country in page_obj %}
        <tr>
            <td>{{ item_counter|add:forloop.counter }}</td>
            <td><span class="fi fi-xx fi-{{country.alpha2_code}}"></span> {{ country.common_name }}</td>
            <td>{{ country.continent_name }}</td>
            <td>{{ country.region_name }}</td>
        </tr>
        {% endfor %}
    </tbody>
</table>
<form action="{% url 'most_populated_cities_main:countries' %}">
    <select name="per_page">
        <option value="15" {% if per_page == "15" %}selected{% endif %}>15</option>
        <option value="20" {% if per_page == "20" %}selected{% endif %}>20</option>
        <option value="40" {% if per_page == "40" %}selected{% endif %}>40</option>
    </select>
    <input type="submit" value="items on page">
    <input type="hidden" name="page" value="{{ page_obj.number }}">
    <input type="hidden" name="index" value="{{ page_obj.start_index }}">
    <input type="hidden" name="sort_by" value="{{ sort_by }}">
</form>
<div class="pagination">
    <span class="step-links">
        {% if page_obj.has_previous %}
            <a href="?page=1&per_page={{ per_page }}&sort_by={{ sort_by }}">&laquo; first</a>
            <a href="?page={{ page_obj.previous_page_number }}&per_page={{ per_page }}&sort_by={{ sort_by }}">previous</a>
        {% endif %}

        <span class="current">
            page {{ page_obj.number }} of {{ page_obj.paginator.num_pages }}
        </span>

        {% if page_obj.has_next %}
            <a href="?page={{ page_obj.next_page_number }}&per_page={{ per_page }}&sort_by={{ sort_by }}">next</a>
            <a href="?page={{ page_obj.paginator.num_pages }}&per_page={{ per_page }}&sort_by={{ sort_by }}">last &raquo;</a>
        {% endif %}
    </span>
</div>
{% endblock %}