{% extends "most_populated_cities_main/base.html" %}

{% block title %}
Most populated cities
{% endblock %}

{% block header-filter %}
    {% include 'most_populated_cities_main/auxiliary/table_filters.html' %}
{% endblock %}

{% block content %}
<table>
    <thead>
        <tr>
            <th>№</th>
            <th>
                <form action="{{ request.path }}">
                    <button class="sort_btn" >Name
                        {% if sort_by == "name" %} v
                            <input type="hidden" name="sort_by" value="-name">
                        {% elif sort_by == "-name" %} ^
                            <input type="hidden" name="sort_by" value="name">
                        {% else %}
                            <input type="hidden" name="sort_by" value="name">
                        {% endif %}
                    <input type="hidden" name="index" value="{{ page_obj.start_index }}">
                    <input type="hidden" name="per_page" value="{{ per_page }}">
                    <input type="hidden" name="filter_data" value="{{ filter_data }}">
                    </button>
                </form>
            </th>
            <th>
                <form action="{{ request.path }}">
                    <button class="sort_btn" >Population
                        {% if sort_by == "population_23" %} v
                            <input type="hidden" name="sort_by" value="-population_23">
                        {% elif sort_by == "-population_23" %} ^
                            <input type="hidden" name="sort_by" value="population_23">
                        {% endif %}
                    <input type="hidden" name="index" value="{{ page_obj.start_index }}">
                    <input type="hidden" name="per_page" value="{{ per_page }}">
                    <input type="hidden" name="filter_data" value="{{ filter_data }}">
                    </button>
                </form>
            </th>
            <th>
                <form action="{{ request.path }}">
                    <button class="sort_btn" >Country
                        {% if sort_by == "country__common_name" %} v
                            <input type="hidden" name="sort_by" value="-country__common_name">
                        {% elif sort_by == "-country__common_name" %} ^
                            <input type="hidden" name="sort_by" value="country__common_name">
                        {% else %}
                            <input type="hidden" name="sort_by" value="country__common_name">
                        {% endif %}
                    <input type="hidden" name="index" value="{{ page_obj.start_index }}">
                    <input type="hidden" name="per_page" value="{{ per_page }}">
                    <input type="hidden" name="filter_data" value="{{ filter_data }}">
                    </button>
                </form>
            </th>
            <th>
                <form action="{{ request.path }}">
                    <button class="sort_btn" >Continent
                        {% if sort_by == "country__continent" %} v
                            <input type="hidden" name="sort_by" value="-country__continent">
                        {% elif sort_by == "-country__continent" %} ^
                            <input type="hidden" name="sort_by" value="country__continent">
                        {% else %}
                            <input type="hidden" name="sort_by" value="country__continent">
                        {% endif %}
                    <input type="hidden" name="index" value="{{ page_obj.start_index }}">
                    <input type="hidden" name="per_page" value="{{ per_page }}">
                    <input type="hidden" name="filter_data" value="{{ filter_data }}">
                    </button>
                </form>
            </th>
            <th>
                <form action="{{ request.path }}">
                    <button class="sort_btn" >Region
                        {% if sort_by == "country__region" %} v
                            <input type="hidden" name="sort_by" value="-country__region">
                        {% elif sort_by == "-country__region" %} ^
                            <input type="hidden" name="sort_by" value="country__region">
                        {% else %}
                            <input type="hidden" name="sort_by" value="country__region">
                        {% endif %}
                    <input type="hidden" name="index" value="{{ page_obj.start_index }}">
                    <input type="hidden" name="per_page" value="{{ per_page }}">
                    <input type="hidden" name="filter_data" value="{{ filter_data }}">
                    </button>
                </form>
            </th>
        </tr>
    </thead>
    <tbody>
        {% for city in page_obj %}
        <tr>
            <td>{{ item_counter|add:forloop.counter }}</td>
            <td>{{ city.name }}</td>
            <td>{{ city.humanized_pop }}</td>
            <td><span class="fi fi-xx fi-{{city.country.alpha2_code}}"></span> {{ city.country.common_name }}</td>
            <td>{{ city.country.continent_name }}</td>
            <td>{{ city.country.region_name }}</td>
        </tr>
        {% endfor %}
    </tbody>
</table>

{% block paginator %}
    {% include 'most_populated_cities_main/auxiliary/paginator_nav.html' %}
{% endblock paginator %}

{% endblock %}