{% extends "most_populated_cities_main/base.html" %}

{% block title %}
Countries
{% endblock %}

{% block header-filter %}
    {% include 'most_populated_cities_main/auxiliary/table_filters.html' %}
{% endblock %}

{% block content %}
<table>
    <thead>
        <tr>
            <th>№</th>
            <th>
                <form action="{% url 'most_populated_cities_main:'|add:request.resolver_match.url_name %}">
                    <button class="sort_btn" >Common Name
                        {% if sort_by == "common_name" %} v
                            <input type="hidden" name="sort_by" value="-common_name">
                        {% elif sort_by == "-common_name" %} ^
                            <input type="hidden" name="sort_by" value="common_name">
                        {% endif %}
                    <input type="hidden" name="index" value="{{ page_obj.start_index }}">
                    <input type="hidden" name="per_page" value="{{ per_page }}">
                    <input type="hidden" name="filter_data" value="{{ filter_data }}">
                    </button>
                </form>
            </th>
            <th>
                <form action="{% url 'most_populated_cities_main:'|add:request.resolver_match.url_name %}">
                    <button class="sort_btn" >Continent
                        {% if sort_by == "continent" %} v
                            <input type="hidden" name="sort_by" value="-continent">
                        {% elif sort_by == "-continent" %} ^
                            <input type="hidden" name="sort_by" value="continent">
                        {% else %}
                            <input type="hidden" name="sort_by" value="continent">
                        {% endif %}
                    <input type="hidden" name="index" value="{{ page_obj.start_index }}">
                    <input type="hidden" name="per_page" value="{{ per_page }}">
                    <input type="hidden" name="filter_data" value="{{ filter_data }}">
                    </button>
                </form>
            </th>
            <th>
                <form action="{% url 'most_populated_cities_main:'|add:request.resolver_match.url_name %}">
                    <button class="sort_btn" >Region
                        {% if sort_by == "region" %} v
                            <input type="hidden" name="sort_by" value="-region">
                        {% elif sort_by == "-region" %} ^
                            <input type="hidden" name="sort_by" value="region">
                        {% else %}
                            <input type="hidden" name="sort_by" value="region">
                        {% endif %}
                    <input type="hidden" name="index" value="{{ page_obj.start_index }}">
                    <input type="hidden" name="per_page" value="{{ per_page }}">
                    <input type="hidden" name="filter_data" value="{{ filter_data }}">
                    </button>
                </form>
            </th>
        </tr>
    </thead>
    <tbody>
        {% for country in page_obj %}
        <tr>
            <td>{{ item_counter|add:forloop.counter }}</td>
            <td><span class="fi fi-xx fi-{{country.alpha2_code}}"></span> {{ country.common_name }}</td>
            <td>{{ country.continent_name }}</td>
            <td>{{ country.region_name }}</td>
        </tr>
        {% endfor %}
    </tbody>
</table>

{% block paginator %}
    {% include 'most_populated_cities_main/auxiliary/paginator_nav.html' %}
{% endblock paginator %}

{% endblock %}