* {
    margin: 0;
    padding: 0;
}

html,
body {
    height: 100%;
}

.wrapper {
    position: relative;
    height: 100%;
    padding: 0 0 160px;
    box-sizing: border-box;
}

body {
    font-family: 'Ubuntu', sans-serif;
    line-height: 1.3;
    text-align: center;
}

table {
    margin-left: auto;
    margin-right: auto;
    width: 70%;
}

div{
    background-color: whitesmoke;
}

.header {
    color: whitesmoke;
    background-color: slategrey;
    height: 40px;
    margin-bottom: 40px;

}
.content {
    background-color: ghostwhite;
    overflow: auto;
    height:100%;
    padding: 0px 20px 0px;
}

.footer {
    background-color: lightslategrey;
    color: whitesmoke;
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100%;
    height: 40px;
}

