* {
    margin: 0;
    padding: 0;
}

html,
body {
    height: 100vh;
}

body {
    background-color: ghostwhite;
    position: relative;
    font-family: 'Ubuntu', sans-serif;
    line-height: 1.3;
    text-align: center;
}

.header,
.footer {
    color: whitesmoke;
    background-color: slategrey;
    align-items: center;
}

.footer {
    height: 30px;
}

.header {
    height: 50px;
    display: flex;
    padding: 0px 20px;
}

.header > a {
    text-decoration: none;
    color: #eaeaea;
    margin-right: 14px;
}

.header > a.logo {
    color: white;
    font-weight: 600;
}

.content {
    overflow: auto;
    height: calc(100% - 80px);
    padding: 20px 0px;
    box-sizing: border-box;
}

table {
    margin-left: auto;
    margin-right: auto;
    width: 60%;
    background-color: #e5e4e4;
}

table, th, td {
    border-collapse: collapse;
    border: 1px solid ghostwhite;
}

tr:nth-child(even) {
  background-color: #f2f2f2;
}

td, th {
    text-align: left;
    padding-left: 8px;
    color: #484848;
}

th {
    background-color: #c7cee1;
}

button.sort_btn {
    background-color: transparent;
    border: none;
    font-size: 16px;
    font-weight: 600;
    cursor: pointer;
    color: #484848;
}

tr {
    height: 35px;
}
