<div class="pagination">
    <span class="step-links">
        {% if page_obj.has_previous %}
            <a href="?page=1&per_page={{ per_page }}&sort_by={{ sort_by }}&filter_data={{ filter_data }}">&laquo; first</a>
            <a href="?page={{ page_obj.previous_page_number }}&per_page={{ per_page }}&sort_by={{ sort_by }}&filter_data={{ filter_data }}">previous</a>
        {% endif %}

        <span class="current">
            page {{ page_obj.number }} of {{ page_obj.paginator.num_pages }}
        </span>

        {% if page_obj.has_next %}
            <a href="?page={{ page_obj.next_page_number }}&per_page={{ per_page }}&sort_by={{ sort_by }}&filter_data={{ filter_data }}">next</a>
            <a href="?page={{ page_obj.paginator.num_pages }}&per_page={{ per_page }}&sort_by={{ sort_by }}&filter_data={{ filter_data }}">last &raquo;</a>
        {% endif %}
    </span>
</div>