name: CI/CD

on:
  push:
    branches:
      - test
      - main

jobs:
  build:
    runs-on: ubuntu-latest

    environment:
      name: ${{ github.ref_name }}

    steps:
      - name: Display the ENVIRONMENT
        run: |
          echo "ENV is ${{ vars.ENV }}"

      - name: Checkout repository
        uses: actions/checkout@v4

      - name: Authenticate Google Cloud SDK
        uses: google-github-actions/auth@v2
        with:
          credentials_json: ${{ secrets.GCP_SA_KEY }}
          project_id: ${{ secrets.GCP_PROJECT_ID }}

      - name: Set up Google Cloud SDK
        uses: google-github-actions/setup-gcloud@v2
        with:
          project_id: ${{ secrets.GCP_PROJECT_ID }}

      - name: Configure Docker to use the gcloud command-line tool as a credential helper
        run: |
          gcloud auth configure-docker

      - name: Copy GitHub secrets to .env
        run: |
          echo "DATABASE_URL=${{ secrets.DATABASE_URL }}" > .env
          echo "SECRET_KEY=${{ secrets.SECRET_KEY }}" >> .env
          echo "DEBUG=${{ secrets.DEBUG }}" >> .env

      - name: Build and Push Docker image
        run: |
          docker build -t pkg.dev/${{ secrets.GCP_PROJECT_ID }}/mpc-${{ vars.ENV }}:${{ github.sha }} .
          docker push pkg.dev/${{ secrets.GCP_PROJECT_ID }}/mpc-${{ vars.ENV }}:${{ github.sha }}
#
#      - name: Build and push Docker image to Google Container Registry
#        run: |
#          docker build -t gcr.io/${{ secrets.GOOGLE_PROJECT_ID }}/your_image_name:latest .
#          docker push gcr.io/${{ secrets.GOOGLE_PROJECT_ID }}/your_image_name:latest
# deploy:
#    steps:
#    - name: Deploy to App Engine
#      run: |
#        gcloud app deploy --quiet
